$band-color : #26A69A;
$screen-xs : 600px;

@media only screen and (max-width: 255px) {
   img {
    width: 100%;
    height: auto;
  }
}
.title{
  background-color: rgba(38, 166, 154, .5);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.37);
  padding: 1px 5px 1px 5px;
  text-align: center;
  padding: 1% 0% 0% 0%;
  text-align: center;
  padding: 2% 0% 0% 0%;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: white;
  padding-top: 15px;
  img {
    padding-bottom: 20px;
  }
  .fb_button {
    padding-top: 35px;
  }
}
.quotes {
  margin-top: 20%;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
	font-variant: normal;
  font-size: 4vmin;
  color: white;
  width: 500px;
  //text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  span{
    display: block;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}
.flex-container{

  justify-content: space-around;
  @media only screen and (min-width: $screen-xs) {
    display: -webkit-flex;
    display: flex;
  }
  @media only screen and (max-width: $screen-xs) {
     img {
      padding-top: 20px;
    }
  }

}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  //background-color: #efefef;
  text-align: center;
}
.hide {
  display:none;
}
@mixin border-radius($color : $band-shade-color) {
  background-color: $color;
  -webkit-border-radius: $input-border-radius;
  -moz-border-radius: $input-border-radius;
  border-radius: $input-border-radius;
  outline: none;
  border: 5px;
  padding: 2px;
}
// HOMEPAGE
.main_toolbar {
  z-index:500;
  position: fixed;
  box-shadow: 0px 5px 5px grey;
}
.hide_xs {
  @media only screen and (max-width: $screen-xs) {
     display: none;
  }
}
.show_xs {
  @media only screen and (min-width: $screen-xs) {
     display: none;
  }
}

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   z-index: 5000;
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-5px;
   font-size:.7em;
   background:red;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
.notification_icon {
  height: 25px;
  width: 25px;
}
.chat_dialog_content {
  overflow-y:scroll;
  height:50%;
}
.chat_dialog_box {
  bottom: 0;
  height: 7%;
  max-height: 150px;
}
.chat_dialog_contenteditable{
  justify-content: space-around;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  width: 90%;
  height: 90%;
  overflow-y:scroll;
}
.msg_sidenav{
  height: 500px;
}
