body{
  overflow-x: hidden;

}

#searchBox {
  padding: 10px 30px 10px 30px;
  max-width: 540px;
}

#message_tab {

}



/* navbar */
.navbar-ddefault {
  background-color: #26A69A;
  box-shadow: 0px 5px 5px grey;
  padding: 1px 5px 1px 5px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 998; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    box-shadow: 5px 0px 50px grey;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  //  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 55px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#dropdownMenu1{

}

#chat_button  {
  position: fixed;
  z-index: 999;
  right:  25px;
  bottom: 25px;
  box-shadow: 0px 8px 8px grey;
  background-color: #C51162;
}

#mySidenav-users{
  padding: 8px 0px 8px 8px;
}

#online_list{

}
