
<div style="
        align-items: center;
        justify-content: center;
        margin-right: 20%;
        margin-left: 20%;
        border: solid thin gray;">
    <div style="background-color:#26A69A;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;">
        <a href="index">
            <img class="logo" src="https://thoughtifies.com/images/logo.png" alt=""/>
        </a>
    </div>
    <div style="margin-top: 10px;
         width: 100%;
        margin-bottom: 20px;
        text-align: center;">
        {content}
    </div>
    <div style="background-color: #26A69A;color: white;
            width: 100%;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
        ">
       <div style="">
           Advertising your thoughts
       </div>
    </div>
    <div>
        <div style="padding-top: 2px;
             padding-bottom: 2px;
             text-align: center;
             font-size: smaller;
             opacity: .54;
            ">
            <a href="https://thoughtifies.com" style="text-decoration: none !important;">
                www.thoughtifies.com
            </a>
        </div>
    </div>


</div>